<app-not-found [visible]="!food" notFoundMessage="Product Not Found" resetLinkText="Back To Homepage"></app-not-found>

<div *ngIf="food" class="container">
      <img src="{{food.imageUrl}}" [alt]="food.name">
      <div class="details">
            <div class="header">
                  <span class="name">
                        {{food.name}}
                  </span>
                  <span class="favorite {{food.favorite? '': 'not'}}">
                        ❤
                  </span>
            </div>
            <div class="rating">
                  <nz-rate [ngModel]="food.stars" nzDisabled></nz-rate>
            </div>

            <div class="origins">
                  <span *ngFor="let origin of food.origins ">
                        {{ origin}}
                  </span>
            </div>
            <div class="tags">
                  <span *ngFor="let tag of food.tags">
                        {{tag}}
                  </span>
            </div>
            <div class="cook-time">
                  <span>
                        Time to cook about <strong>{{food.cookTime}}</strong> minutes
                  </span>
            </div>
            <div class="price">
                  <span>{{food.price | currency}}</span>
            </div>

            <button (click)="addToCart()"> Add To Cart</button>
      </div>
</div>